<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<style>
    a {
        background-color: darkblue;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
    }
</style>